<!DOCTYPE html>
{% extends "principal_plantilla.html" %}
{% block content %}

	<h2>Practica de Aparcamientos en Madrid</h2>
	<h2>alumno : Larrinson Mendoza Villarreal</h2>
		La práctica consiste en descargar informacion de un archivo XML de la comunidad de Madrid,
		filtraremos (parsear) la informacion que nos interese para luego mostrarlo por pantalla al navegador.
		Una vez guardada lo que hacemoses extraerla de la base de datos y componer nuestra
		pagina de aparcamientos de Madrid.
		En la pagina principal podemos ver los aparcamientos que tienen comentario
		(y si no los tuviera a priori se seleccionaria cinco aparcamientos aleatoriamente) ;
		si pinchamos en 'todos' veremos todos los aparcamientos y donde podremos interactuar
		con las funcionalidades de seleccionar un aparcamiento. Seleccionando el nombre de un 
		aparcamiento podremos ver toda la informacion del mismo. Podremos tener cuenta en esta pagina ;
		al tener cuenta en la pagina nos permitira poner comentario en la pagina propia del aparcamiento,
		podremos seleccionarlo para que aparezca en nuestra pagina personal podremos tambien selecionar el
		color de fonde el tamaño de letra e incluso el nombre de nuestra pagina.
{% endblock %}
